<template>
	<lightning-card title="Bears" icon-name="utility:animal_and_nature">
		<div class="slds-card__body_inner">
			<!-- Start bear list -->
			<template if:true={bears}>
				<lightning-layout multiple-rows="true" pull-to-boundary="small">
					<template for:each={bears} for:item="bear">
						<lightning-layout-item key={bear.Id} size="3" class="slds-p-around_x-small">
							<!-- Start bear tile -->
							<lightning-card title={bear.Name} class="bear-tile">
								<div class="slds-p-horizontal_small">
									<div class="slds-media">
										<div class="slds-media__figure">
											<!-- <img src={appResources.bearSilhouette} alt="Bear profile" class="bear-silhouette"/> -->
										</div>
										<div class="slds-media__body">
											<p class="slds-m-bottom_xx-small">{bear.Sex__c}</p>
											<p class="slds-m-bottom_xx-small">{bear.Age__c} years old</p>
											<p class="slds-m-bottom_xx-small">{bear.Height__c} cm</p>
											<p class="slds-m-bottom_xx-small">{bear.Weight__c} Kg</p>
										</div>
									</div>
								</div>
							</lightning-card>
							<!-- End bear tile -->
						</lightning-layout-item>
					</template>
				</lightning-layout>
			</template>
			<!-- End bear list -->
			<!-- Data failed to load -->
			<template if:true={error}>
				<div class="slds-text-color_error">
					An error occurred while loading the bear list
				</div>
			</template>
		</div>
	</lightning-card>
</template>